---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_YV1EUbqpz4DkpQWUBCFkUkAH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_25aJ1ELTGwcHNr\",\n  \"livemode\": false,\n  \"created\":
        1372277010,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"object\": \"card\",\n    \"last4\": \"0002\",\n    \"type\":
        \"Visa\",\n    \"exp_month\": 3,\n    \"exp_year\": 2016,\n    \"fingerprint\":
        \"uIGcx0G0oUaFjORg\",\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Wed, 26 Jun 2013 20:03:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=usd&card=tok_25aJ1ELTGwcHNr
    headers:
      Authorization:
      - Bearer sk_test_YV1EUbqpz4DkpQWUBCFkUkAH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_25aJiQPQ6umW1G\"\n  }\n}\n"
  recorded_at: Wed, 26 Jun 2013 20:03:34 GMT
recorded_with: VCR 2.5.0
