---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_YV1EUbqpz4DkpQWUBCFkUkAH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_29IvaXyWJT2JEI\",\n  \"livemode\": false,\n  \"created\":
        1373134881,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\":
        \"Visa\",\n    \"exp_month\": 3,\n    \"exp_year\": 2016,\n    \"fingerprint\":
        \"xwCASUqYHor1nh1B\",\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Sat, 06 Jul 2013 18:21:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=usd&card=tok_29IvaXyWJT2JEI
    headers:
      Authorization:
      - Bearer sk_test_YV1EUbqpz4DkpQWUBCFkUkAH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_29IvqzioJAIGt4\",\n  \"object\": \"charge\",\n
        \ \"created\": 1373134882,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        400,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"fee\": 42,\n  \"fee_details\":
        [\n    {\n      \"amount\": 42,\n      \"currency\": \"usd\",\n      \"type\":
        \"stripe_fee\",\n      \"description\": \"Stripe processing fees\",\n      \"application\":
        null,\n      \"amount_refunded\": 0\n    }\n  ],\n  \"card\": {\n    \"object\":
        \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\":
        3,\n    \"exp_year\": 2016,\n    \"fingerprint\": \"xwCASUqYHor1nh1B\",\n
        \   \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n
        \   \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"cvc_check\":
        \"pass\",\n    \"address_line1_check\": null,\n    \"address_zip_check\":
        null\n  },\n  \"captured\": true,\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": null,\n  \"dispute\": null\n}\n"
  recorded_at: Sat, 06 Jul 2013 18:21:24 GMT
recorded_with: VCR 2.5.0
