---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_29QxeqxvBGUYSN
    headers:
      Authorization:
      - Bearer sk_test_YV1EUbqpz4DkpQWUBCFkUkAH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_29QxaQE505sey9\",\n  \"object\": \"charge\",\n
        \ \"created\": 1373164796,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"fee\": 59,\n  \"fee_details\":
        [\n    {\n      \"amount\": 59,\n      \"currency\": \"usd\",\n      \"type\":
        \"stripe_fee\",\n      \"description\": \"Stripe processing fees\",\n      \"application\":
        null,\n      \"amount_refunded\": 0\n    }\n  ],\n  \"card\": {\n    \"object\":
        \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\":
        6,\n    \"exp_year\": 2015,\n    \"fingerprint\": \"xwCASUqYHor1nh1B\",\n
        \   \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n
        \   \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"cvc_check\":
        \"pass\",\n    \"address_line1_check\": null,\n    \"address_zip_check\":
        null\n  },\n  \"captured\": true,\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": null,\n  \"dispute\": null\n}\n"
  recorded_at: Sun, 07 Jul 2013 02:39:57 GMT
recorded_with: VCR 2.5.0
