---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_29QxcW6BdzVrhw
    headers:
      Authorization:
      - Bearer sk_test_YV1EUbqpz4DkpQWUBCFkUkAH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_29QxHSTdE7G2yz\"\n  }\n}\n"
  recorded_at: Sun, 07 Jul 2013 02:39:54 GMT
recorded_with: VCR 2.5.0
